@import url('https://fonts.googleapis.com/css?family=Amarante');

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html { overflow-y: scroll; }
body { 
  background: #29282B; /* http://subtlepatterns.com/weave/ */
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  line-height: 1;
  color: #585858;
  padding: 22px 10px;
  padding-bottom: 55px;
}

::selection { background: #5f74a0; color: #fff; }
::-moz-selection { background: #5f74a0; color: #fff; }
::-webkit-selection { background: #5f74a0; color: #fff; }

br { display: block; line-height: 1.6em; } 

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }

input, textarea { 
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none; 
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong, b { font-weight: bold; } 

table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; max-width: 100%; }

h1 {
  font-family: 'Amarante', Tahoma, sans-serif;
  font-weight: bold;
  font-size: 2.5em;
  line-height: 1.7em;
  margin-bottom: 10px;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 25px;
}


/** page structure **/
#wrapper {
  display: block;
  width: 1000px;
  background: #fff;
  margin: 0 auto;
  padding: 10px 17px;
  -webkit-box-shadow: 2px 2px 3px -1px rgba(0,0,0,0.35);
}

#keywords {
  margin: 0 auto;
  font-size: 1.2em;
  margin-bottom: 50px;
  border: solid 2px;
}


#keywords thead {
  cursor: pointer;
  background: #00563f;
  color: white;
}
#keywords thead tr th {
  /* font-weight: bold; */
  /* padding: 12px 30px; */
  padding-left: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  /* text-align: center; */
}
#keywords thead tr th span {
  padding-right: 20px;
  padding-left: 10px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

#keywords thead tr th.headerSortUp, #keywords thead tr th.headerSortDown {
  background: #acc8dd;
}

#keywords thead tr th.headerSortUp span {
  background-image: url('https://i.imgur.com/SP99ZPJ.png');
}
#keywords thead tr th.headerSortDown span {
  background-image: url('https://i.imgur.com/RkA9MBo.png');
}


#keywords tbody tr { 
  color: #555;
}
#keywords tbody tr td {
  text-align: center;
  padding: 12px 10px;
  /* font: bold 17px Trebuchet MS; */
}
#keywords tbody tr td.lalign {
  text-align: left;
}

th.header {
    text-align: center;
}

tr {
    border: solid 1px;
}

td {
    border: solid 1px;
}
#logout{float:right;padding: 5px;border: solid 1px gray;border-radius: 7px;font-size: 12px;background: rgba(4, 4, 4, 0.53);}
a {
    text-decoration: none;
    color: #386b05;
}
td.yellow {
    background-color: yellow;
    color: black;
}
td.red {
    background-color: red;
    color: black;
}
td.descript {
    width: 220px;
}
h4 {
    font-family: 'Amarante', Tahoma, sans-serif;
    font-weight: bold;
    font-size: 4.6em;
    line-height: 1.7em;
    color: white;
    /* margin-bottom: 0px; */
    text-align: center;
    margin-top: 10px;
}